[Unit]
Description=Pixel Buds Pro daemon
After=graphical-session.target bluetooth.target
Wants=bluetooth.target

[Service]
ExecStart=/usr/local/bin/bt-pixel-buds
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
